<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SpringBoot模板渲染</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <link rel="icon" type="image/x-icon" href="/images/mldn.ico"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <script type="text/javascript" src="/js/message_index.js"></script>
</head>
<body>
<div><img src="/images/jixian.png"></div>
<div class="messsage">https://blog.csdn.net/qq_32370913/article/details/105273595</div>
</body>
</html>